{% extends 'buyer-header.html' %}
{% load static %}

{% block content %}
			<div class="tm-paging-links">
				<nav>
					<ul>
						{% for category in categories %}
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">{{category.name}}</a></li>
						{% endfor %}
						<!-- <li class="tm-paging-item"><a href="#" class="tm-paging-link">Fashion</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Kids</a></li> -->
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				{% for category in categories %}
				<div id="tm-gallery-page-{{category.value}}" class="tm-gallery-page">
					{% for product in products %}
					{% if product.category == category.value %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{product.pic.url}}" width="100px" height="100px" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">{{product.name}}</h4>
								<p class="tm-gallery-description">{{product.des}}</p>
								<p class="tm-gallery-price"><i class="fa fa-rupee"></i> {{product.price}}</p>
							</figcaption>
						</figure>
					</article>
					{% endif %}
					{% endfor %}
				</div> <!-- gallery page 1 -->
				{% endfor %}
				<!-- gallery page 2 -->
				 <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}
		