{% extends 'buyer-header.html' %}
{% load static %}

{% block css %}

<style>
    ul {
    list-style-type: none;
    margin-left: 37%;
    padding: 0
}

.rating {
    margin-left: 37%
}

.page {
    background-color: #dfe6e0;
    padding: 2%;
    margin: auto
}

.fa {
    color: #f2dd1d
}

.card-img-top {
    width: 90%;
    height: 225px
}

.view {
    background-color: #dfe6e0;
    padding: 10px;
    margin: 20px
}

.card {
    width: 95%;
    padding: 0px;
    margin-left: 2%
}

.card-footer {
    background-color: #ff772e;
    font-weight: 700
}

.price {
    color: #ff4517;
    font-weight: 600
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<!--For Page-->
<div class="page">
    <!--For Row containing all card-->
    <div class="row">
        <!--Card 1-->
        {% for product in cart.product.all %}
        <div class="col-sm">
            <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                <!--Card image-->
                <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="{{product.pic.url}}" alt=""> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                <!--Card Body-->
                <div class="card-body card-body-cascade text-center">
                    <!--Card Title-->
                    <h4 class="card-title"><strong><a href="{% url 'view-product' product.id %}"> {{product.name}}</a></strong></h4> <!-- Card Description-->
                    <p class="card-text">{{product.des}}</p>
                    <p class="price">${{product.price}}</p> <!-- Card Rating-->
                    <ul class="row rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <!--Card footer-->
                    <a href="{% url 'remove-from-cart' product.id %}"><button class="btn btn-info"> Remove from cart</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--Card 2-->
        
    </div>
</div>

{% endblock %}